<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                </ul>
            </header>
        </div>
        <form action="/user/auth" method="POST">
            <div
                class="container-fluid"
                style="max-width: 500px; padding-top: 200px"
            >
                <h1>Login</h1>
                <div class="d-flex justify-content-center flex-column">
                    <div class="form-group p-2">
                        <input
                            class="form-control"
                            name="username"
                            type="text"
                            placeholder="Enter username"
                            required
                        /><br />
                    </div>
                    <div class="form-group p-2">
                        <input
                            class="form-control"
                            name="password"
                            type="password"
                            placeholder="Password"
                            required
                        /><br />
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Login
                    </button>
                </div>
                <p class="">
                    <a href="/user/forgot">Forgot your password?</a> |
                    <a href="/user/signup">Sign up!</a>
                </p>
            </div>
        </form>
    </body>
</html>
