<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <form action="/user/create" method="POST">
            <div
                class="container-fluid"
                style="max-width: 500px; padding-top: 180px"
            >
                <h1>Sign up!</h1>
                <div class="d-flex justify-content-center flex-column">
                    <div class="form-group p-2">
                        <input
                            class="form-control"
                            name="username"
                            type="text"
                            placeholder="Username"
                            required
                        /><br />
                    </div>
                    <div class="form-group p-2">
                        <input
                            class="form-control"
                            name="email"
                            type="email"
                            placeholder="Email"
                            required
                        /><br />
                    </div>
                    <div class="form-group p-2">
                        <input
                            class="form-control"
                            name="password"
                            type="password"
                            placeholder="Password"
                            required
                        /><br />
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">
                        Sign Up
                    </button>
                    <p>I already have a <a href="/login">login</a></p>
                </div>
            </div>
        </form>
    </body>
</html>
